<div class="form-group">
<label for="ItemId">Please enter item id number</label> <input type="text" name="enterItemId" value="" id="ItemId" class="form-control">
</div>
<br><br>
<div class="form-group">
<label for="Name">Please enter item name</label> <input type="text" name="enteritemname" value="" id="Name" class="form-control">
</div>
<br><br>
<div class="form-group">
<label for="Category">Please enter category</label> <input type="text" name="enterCategory" value="" id="Category" class="form-control">
</div>
<br><br>
<label for="StartTime"
<div class="form-group">
<input type="submit" value="Search" class="btn btn-primary">
</div>
